**
!Dockerfile
!environment.yml
!dist/
!dist/openamundsen_da-*.whl
!examples/
examples/**
!examples/rofental/
!examples/rofental/**
!examples/subdomains/
!examples/subdomains/**
!scripts/
scripts/**
!scripts/oa_entrypoint.sh
