# VCS / metadata
.sync-exclude.lst

# Python bytecode & caches
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Build artifacts
*.egg-info

# Coverage & profiling
/.coverage*
coverage.xml
htmlcov/
*.prof
*.pstats
*.cprofile

# Virtual environments & env files
/.env
/.venv
.venv*/

# OS / editor cruft
.DS_Store
/.idea/
/.vscode/
*.swp
*.log
.ci-artifacts/

# Documentation build outputs
docs/_build/
docs/_site/
docs/Gemfile.lock

# Notebooks
*.ipynb
*.ipynb_checkpoints

# Local data & nested repos
dev_examples
/testdata/
/context/
openamundsen/
/MuSA/
CrocO_toolbox
/openamundsen-examples/
