include CHANGELOG.md
include LICENSE
include README.md
include pyproject.toml
recursive-include openamundsen_da *.py py.typed
prune .github
prune .vscode
prune constraints
prune context
prune dev_examples
prune docs
prune examples
prune scripts
prune testdata
prune tests
exclude .dockerignore
exclude .gitattributes
exclude .gitignore
exclude .trivyignore
exclude Dockerfile
exclude compose.yml
exclude compose.*.yml
exclude environment.yml
global-exclude .gitignore
global-exclude *.py[cod]
global-exclude __pycache__
